.row.push-down-twice
	.col
		h1.uppercase.bold.red accordion

		.accordion
			ul
				- for (var i = 1; i <= 5; i++)
					li
						.item-title
							| Lorem ipsum dolor sit amet.
						.item-content
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, amet eligendi dolorem mollitia, dignissimos officia, inventore maxime quod, praesentium quibusdam incidunt rem alias vero asperiores quidem. Distinctio veniam, molestias sapiente?
