.row.push-down-twice
	.col
		h1.uppercase.bold.red buttons
		h6
			| Tiny Buttons
		.buttons
			button.button.tiny.light
				| Light tiny
			button.button.tiny
				| Default tiny
			button.button.tiny.red
				| Red tiny
			button.button.tiny.green
				| Green tiny
			button.button.tiny.blue
				| Blue tiny
			button.button.tiny.orange
				| Orange tiny
.row.push-down-twice
	.col
		h6
			| Small Buttons
		.buttons
			button.button.small.light
				| Light small
			button.button.small
				| Default small
			button.button.small.red
				| Red small
			button.button.small.green
				| Green small
			button.button.small.blue
				| Blue small
			button.button.small.orange
				| Orange small
.row.push-down-twice
	.col
		h6
			| Default size Buttons
		.buttons.push-down-once
			button.button.light
				| Light button
			button.button
				| Default button
			button.button.red
				| Red button
			button.button.green
				| Green button
			button.button.blue
				| Blue button
			button.button.orange
				| Orange button
		.buttons
			a.button.light
				| Light button
			a.button
				| Default button
			a.button.red
				| Red button
			a.button.green
				| Green button
			a.button.blue
				| Blue button
			a.button.orange
				| Orange button
.row.push-down-twice
	.col
		h6
			| Large Buttons
		.buttons
			button.button.large.light
				| Light large
			button.button.large
				| Default large
			button.button.large.red
				| Red large
			button.button.large.green
				| Green large
			button.button.large.blue
				| Blue large
			button.button.large.orange
				| Orange large
.row.push-down-twice
	.col
		h6
			| Huge Buttons
		.buttons
			button.button.huge.light
				| Light huge
			button.button.huge
				| Default huge
			button.button.huge.red
				| Red huge
			button.button.huge.green
				| Green huge
			button.button.huge.blue
				| Blue huge
			button.button.huge.orange
				| Orange huge
