.row
	.col.tablet-2
		| sidebar
	.col.tablet-10
		h1 Header 1
		h2 Header 2
		h3 Header 3
		h4 Header 4
		h5 Header 5
		h6 Header 6
		h6.red
			| Paragraphs
		p 
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique sunt sapiente temporibus dolore recusandae ex harum animi ipsa quae, sint delectus corporis assumenda eum eaque quam explicabo quo error nulla facere velit dolores, laborum reprehenderit excepturi. Blanditiis, aliquid dolore assumenda quam. Consectetur corporis architecto commodi vero, beatae? Saepe eveniet libero voluptatem minima provident at expedita doloribus blanditiis unde quasi mollitia quaerat aperiam exercitationem aspernatur, ea ullam veniam! Eum quod, porro optio neque magnam dolore, beatae vitae explicabo veniam vel nesciunt cum, facilis aut cupiditate ratione sed sunt totam quisquam esse quidem voluptatum quis quo ullam quos. Distinctio sed, perspiciatis nam?
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique sunt sapiente temporibus dolore recusandae ex harum animi ipsa quae, sint delectus corporis assumenda eum eaque quam explicabo quo error nulla facere velit dolores, laborum reprehenderit excepturi. Blanditiis, aliquid dolore assumenda quam. Consectetur corporis architecto commodi vero, beatae? Saepe eveniet libero voluptatem minima provident at expedita doloribus blanditiis unde quasi mollitia quaerat aperiam exercitationem aspernatur, ea ullam veniam! Eum quod, porro optio neque magnam dolore, beatae vitae explicabo veniam vel nesciunt cum, facilis aut cupiditate ratione sed sunt totam quisquam esse quidem voluptatum quis quo ullam quos. Distinctio sed, perspiciatis nam?
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique sunt sapiente temporibus dolore recusandae ex harum animi ipsa quae, sint delectus corporis assumenda eum eaque quam explicabo quo error nulla facere velit dolores, laborum reprehenderit excepturi. Blanditiis, aliquid dolore assumenda quam. Consectetur corporis architecto commodi vero, beatae? Saepe eveniet libero voluptatem minima provident at expedita doloribus blanditiis unde quasi mollitia quaerat aperiam exercitationem aspernatur, ea ullam veniam! Eum quod, porro optio neque magnam dolore, beatae vitae explicabo veniam vel nesciunt cum, facilis aut cupiditate ratione sed sunt totam quisquam esse quidem voluptatum quis quo ullam quos. Distinctio sed, perspiciatis nam?
			
		h6.red Text sizes
		p 
			span.block.tiny
				| Tiny text
			span.block.small
				| Small text
			span.block.large
				| Large text
			span.block.huge
				| Huge text
		
		h6.red
			| Text colors
		p
			span.block.light
				| Light text
			span.block.red
				| Red text
			span.block.green
				| Green text
			span.block.blue
				| Blue text
			span.block.orange
				| Orange text
		
		h6.red
			| Link
		p 
			a( href="#")
				| Lorem ipsum dolor sit amet.
		h6.red Styles
		p 
			span.block.italic
				| [class="italic"]: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, similique.
			i.block
				| [tag i]: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, similique.
			em.block
				| [tag em]: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, similique.
			span.block.bold
				| [class="bold"]: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, recusandae.
			b.block
				| [tag b]: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, recusandae.
			strong.block
				| [tag strong]: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, recusandae.
			span.block.underline
				| [class="underline"]: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, maiores.
			u.block
				| [tag u]: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, maiores.

script(src="assets/js/all.min.js")
