$accordion-item-title-border-color: rem(1) solid color(grey, 200);
$accordion-item-title-hover-shadow: 0 0 rem(5) color(grey, 900, .1);
$accordion-item-title-margin-bottom: 2;

.accordion {
	li {
		margin-bottom: rem($accordion-item-title-margin-bottom);

		.item-title {
			@extend .compact-half;
			@extend .compact-left-once;
			@extend .block;
			@extend .filled;
			@extend .rounded;

			@include transition;

			cursor: pointer;
			font-weight: 600;
			border: $accordion-item-title-border-color;

			&:hover {
				@include box-shadow($accordion-item-title-hover-shadow);
			}
		}

		.item-content {
			@extend .compact-once;
		}
	}
}