$scopebar-color:							color(grey, 700) !default;
$scopebar-color-hover:						$link-color-hover !default;
$scopebar-color-active:						color(white) !default;
$scopebar-color-disable:					color(grey, 400) !default;
$scopebar-background:						color(grey, 50) !default;
$scopebar-background-hover:					color(white) !default;
$scopebar-background-active:				brand(green) !default;
$scopebar-background-disable:				color(grey, 50) !default;
$scopebar-border:							rem(1) solid color(grey, 400) !default;
$scopebar-border-active:					rem(1) solid $scopebar-background-active !default;
$scopebar-border-disable:					rem(1) solid color(grey, 300) !default;
$scopebar-border-radius:					3 !default;
$scopebar-paddings:							rem(5) rem(30) !default;
$scopebar-navicon-paddings:					rem(4) rem(20) !default;

.scopebar {
	@extend .push-down-twice;
	@extend .clearfix;

	> ul {

		> li {
			@extend .inline-block;
			padding: 0;

			> a {
				@extend .block;
				@extend .text-center;
				@include transition;
				
				font-size: rem(14);
				font-weight: 400;
				line-height: rem(26);
				border: $scopebar-border;
				background: $scopebar-background;
				padding: $scopebar-paddings;
				color: $scopebar-color;
				text-decoration: none;
				border-#{to()}: 0 none;
				
				&:hover {
					background: $scopebar-background-hover;
					color: $scopebar-color-hover;
				}
			}

			&:last-child,
			&:nth-last-child(2) {
				> a {
					border-#{to()}: $scopebar-border;
				}
			}

			&:first-child {
				> a {
					@include border-left-radius($scopebar-border-radius);
				}
			}
			
			&:nth-last-child(2),
			&:last-child {
				> a {
					@include border-right-radius($scopebar-border-radius);
				}
			}

			&.active {

				+ li {
					> a {
						border-#{from()}: 0 none;
					}
				}

				> a {
					background: $scopebar-background-active;
					color: $scopebar-color-active;
					border: $scopebar-border-active;
				}
			}

			&.disable {

				> a {
					background: $scopebar-background-disable;
					color: $scopebar-color-disable;
					border: $scopebar-border-disable;
				}
			}

			&.navicon {
				display: none;
				> a {
					line-height: rem(28);
					font-size: rem(14);
					border-#{from()}: 0 none;
					padding: $scopebar-navicon-paddings;
				}
			}
		}
		

		@include mobile-large-below {

			> li {
				display: none;

				&.active {
					display: inline-block;
					> a {
						line-height: rem(30);
						@include border-radius(0);
						@include border-left-radius($scopebar-border-radius);
					}
				}

				&.navicon {
					display: inline-block;
					a {
						line-height: rem(32);
					}
				}
			}
		}
	}
}