.row {
	@include clearfix;
	
	margin: 0 auto;
	padding: 0 $gaps;
	
	&.full {
		width: auto !important;
	}

	.row {
		padding-right: 0;
		padding-left: 0;
		margin-right: -$gaps;
		margin-left: -$gaps;
		max-width: none;
		width: auto;
	}

	.col {
		position: relative;
		padding-left: $gaps;
		padding-right: $gaps;
	}
}


// mobile first
@include grid;
@include pull;
@include push;
@include offset;
@include glue;

@include mobile-large {
	@include grid('mobile-large');
	@include pull('mobile-large');
	@include push('mobile-large');
	@include offset('mobile-large');
	@include glue('mobile-large-above');
}

@include tablet {
	@include grid('tablet');
	@include pull('tablet');
	@include push('tablet');
	@include offset('tablet');
	@include glue('tablet-above');
	@include fixed('tablet');

	.row {
		width: $tablet-container-width;
	}
}

@include screen-small {
	@include grid('screen-small');
	@include pull('screen-small');
	@include push('screen-small');
	@include offset('screen-small');
	@include glue('screen-small-above');
	@include fixed('screen-small');

	.row {
		width: $screen-small-container-width;
	}
}

@include screen-large {
	@include grid('screen-large');
	@include pull('screen-large');
	@include push('screen-large');
	@include offset('screen-large');
	@include glue('screen-large-only');
	@include fixed('screen-large');

	.row {
		width: $screen-large-container-width;
	}
}

@include mobile-small-below {
	@include glue('mobile-small-only');
}

@include mobile-large-below {
	@include glue('mobile-large-below');
}

@include tablet-below {
	@include glue('tablet-below');
}

@include screen-small-below {
	@include glue('screen-small-below');
}

@include mobile-large-only {
	@include glue('mobile-large-only');
}

@include tablet-only {
	@include glue('tablet-only');
}

@include screen-small-only {
	@include glue('screen-small-only');
}
